@import '../../styles/variables.scss';

.notification {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background-color: $gray-9;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;

  &.error {
    background-color: $red;
    color: $white;
  }

  &.success {
    background-color: $green;
    color: $white;
  }

  &.warning {
    background-color: $orange;
    color: $black;
  }

  &.info {
    background-color: $blue;
    color: $white;
  }
}

.icon {
  font-size: 30px;
}
