@import '../../styles/variables.scss';

.expenseListContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.expenseListAction {
  background: $white;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 65px;
  z-index: 2;
  padding: 15px 0;
}
