@import '../../styles/variables.scss';

.expenseListContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.expenseListAction {
  background: $white;
  display: flex;
  justify-content: flex-end;
}
