@import '../../styles/variables.scss';

.expenseGroupPageContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.expenseGroupPageContent {
  display: flex;
  flex-direction: column;
  gap: 40px;

  & > :first-child {
    flex: 1;
  }

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
  }

  @media (min-width: $breakpoint-md) {
    & > :last-child {
      flex: 400px 0 0;
    }
  }
}

.actionButtons {
  background: $white;
  position: sticky;
  top: 65px;
  z-index: 2;
  padding: 15px 0;
}

.sidebar {
  position: sticky;
  top: 135px;
  align-self: flex-start;
  width: 100%;
}
