@import '../../styles/variables.scss';

.pageLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    min-height: 65px;
    max-height: 65px;
    position: sticky;
    top: 0;
    z-index: 3;
  }

  &__hero {
    background-color: $navy;
    box-shadow: inset 0 0 60px $darkNavy;
    color: $white;
    padding: 20px;
    min-height: var(--heroMinHeight);

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 20px;
    }
  }

  &__main {
    height: calc(100vh - 70px);
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0 auto;
  }

  &__content {
    flex: 1;
    margin-bottom: 30px;
  }
}
