@import '../../styles/variables.scss';

.pageLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    min-height: 65px;
    max-height: 65px;
  }

  &__hero {
    background-color: $navy;
    color: $white;
    min-height: 400px;

    &__content {
      width: 100%;
      height: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 20px;
    }
  }

  &__main {
    height: calc(100vh - 70px);
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0 auto;
  }

  &__content {
    flex: 1;
    margin-bottom: 30px;
  }
}
