@import '../../styles/variables.scss';

.button {
  background-color: $gray-2;
  color: $white;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &:hover {
    background-color: $black;
  }

  &.secondary {
    background-color: $white;
    border: 1px solid $gray-5;
    color: $black;

    &:hover {
      background-color: $gray-9;
    }
  }

  &.tertiary {
    background-color: $red;

    &:hover {
      background-color: darken($red, 5%);
    }
  }

  &.white {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $gray-9;
    }
  }

  &.delete {
    background-color: $white;
    border: 1px solid $red;
    color: $red;

    &:hover {
      background-color: $light-pink;
    }
  }

  &.sm {
    font-size: 14px;
    height: 30px;
    padding: 0 10px;
  }

  &.md {
    font-size: 16px;
    height: 40px;
    padding: 0 20px;
  }

  &.lg {
    font-size: 18px;
    height: 50px;
    padding: 0 30px;
  }
}
