@import '../../styles/variables.scss';

.expenseGroupGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.expenseGroupCard {
  background-color: $white;
  border: 1px solid $gray-7;
  padding: 20px;
  border-radius: 8px;
  color: $black;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  &.hasOverdueExpenses {
    border-color: $red;
  }

  &:hover {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
}

.groupTitle {
  font-size: 20px;
  font-weight: 600;
}

.overDueAlert {
  color: red;
  font-weight: 600;
  margin-bottom: 2px;
}
