@import '../../styles/variables.scss';

.expenseGroupGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.expenseGroupCard {
  background-color: $gray-9;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  color: $black;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: $gray-8;
  }
}

.groupTitle {
  font-size: 20px;
  font-weight: 600;
}
