@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import './reset';
@import './variables';

body {
  background-color: $white;
  color: $gray-1;
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-1;
  font-weight: 600;
  margin: 0;
}

section {
  margin-top: 30px;
}

input[type='text'],
input[type='date'],
input[type='number'],
textarea {
  width: 100%;
  border: 1px solid $gray-6;
  border-radius: 4px;
  padding: 6px;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

select {
  width: 100%;
  border: 1px solid $gray-6;
  border-radius: 4px;
  padding: 8px 6px;
}

label {
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

p {
  margin-bottom: 20px;
}

b {
  font-weight: 600;
}
