// Colors
$white: #fff;
$black: #000;
$gray-1: #111;
$gray-2: #333;
$gray-3: #555;
$gray-4: #777;
$gray-5: #999;
$gray-6: #bbb;
$gray-7: #ddd;
$gray-8: #eee;
$gray-9: #f5f5f5;
$gray-10: #f9f9f9;
$red: #fa3802;
$light-pink: #fff3f0;
$green: #5cb603;
$navy: #031a43;
$darkNavy: #000c21;

// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
