@import '../../styles/variables.scss';

.logo {
  display: flex;
  align-items: center;
  gap: 3px;

  img {
    min-width: 170px;
    max-width: 170px;
  }

  &::before {
    background-color: $red;
    color: $white;
    content: 'Bb';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 35px;
    font-size: 20px;
    border-radius: 5px;
  }
}
