@import '../../styles/variables.scss';

.logo {
  display: flex;
  align-items: center;
  gap: 3px;


  &::before {
    background-color: $red;
    color: $white;
    content: 'Bb';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 45px;
    font-size: 20px;
    border-radius: 5px;
  }
}
