@import '../../styles/variables.scss';

.expenseGroupForm {
  width: 100%;

  & > * + * {
    margin-top: 15px;
  }

  & > :last-child {
    margin-top: 40px;
  }

  @media (min-width: $breakpoint-sm) {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.fieldsetTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.fieldsetContainer {
  background-color: $gray-9;
  padding: 20px;
  margin-top: 20px;
}

.expenseGroupFields {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;

    & > * {
      flex: 1;
    }
  }
}

.expenseFields {
  & > * + *:not(.error) {
    margin-top: 25px;
  }
}

.expenseFieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-7;
    padding-bottom: 30px;
  }

  & > *:not(:last-child) {
    flex: 1;
  }

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;

    & > *:last-child {
      margin-top: 23px;
    }
  }
}

.error {
  color: $red;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-top: 4px;
}

.statusMessage {
  font-weight: 500;
  margin-bottom: 20px;

  &.success {
    color: $green;
  }

  &.error {
    color: $red;
  }
}
