@import '../../styles/variables.scss';

.expenseGroupForm {
  width: 100%;

  & > * + * {
    margin-top: 15px;
  }

  & > :last-child {
    margin-top: 40px;
  }

  @media (min-width: $breakpoint-sm) {
    width: 50%;
  }
}

.expenseFieldsetTitle {
  font-size: 24px;
  margin: 20px 0;
}

.expenseFields {
  & > * + *:not(.error) {
    margin-top: 25px;
  }
}

.expenseFieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.error {
  color: $red;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-top: 4px;
}

.statusMessage {
  font-weight: 500;
  margin-bottom: 20px;

  &.success {
    color: $green;
  }

  &.error {
    color: $red;
  }
}
