@import '../../styles/variables.scss';

.expenseList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.expenseListItem {
  background-color: $white;
  border: 1px solid $gray-7;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  overflow: hidden;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
  }
}

.expenseListItemActions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.expenseListItemStatusSwitch {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 16px;

  label {
    margin: 0;
  }
}

.expenseListItemType {
  color: $gray-3;
  font-size: 12px;
  text-transform: uppercase;
}

.expenseListItemTitle {
  font-size: 22px;
  font-weight: 600;
}

.expenseListItemDetails {
  display: flex;
  gap: 20px;
  align-items: center;
}

.expenseListItemInfo {
  flex: 1;
}

.expenseListItemIcon {
  font-size: 35px;
}

.dueDate {
  display: inline-flex;
  align-items: center;
  gap: 5px;

  &.isOverdue {
    color: $red;
  }
}
