@import '../../styles/variables.scss';

.expenseList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.expenseListItem {
  background-color: $gray-10;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  overflow: hidden;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
  }
}

.expenseListItemActions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.expenseListItemStatusSwitch {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 16px;
}

.expenseListItemTitle {
  font-size: 20px;
  font-weight: 600;
  text-align: center;

  @media (min-width: $breakpoint-sm) {
    text-align: left;
  }
}
