.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.expenseItems {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
