@import '../../styles/variables.scss';

.spendingSnapshot {
  background-color: $gray-10;
  padding: 20px;
  flex: 1;
  border-radius: 5px;
  text-align: center;
}

.spendingSnapshotTitle {
  margin-bottom: 30px;
}

.spendingSnapshotDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.snapshotTitle {
  font-weight: 600;
}

.snapshotAmount {
  font-size: 24px;
}
