@import '../../styles/variables.scss';

.header {
  background-color: $white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__link {
    color: $gray-1;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;

    &:hover,
    &:focus,
    &.active {
      color: $red;
    }
  }
}

.logOutButton {
  background-color: $red;
  color: $white;
  height: 30px;
  border-radius: 4px;
  border: 0;
  padding: 0 10px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: darken($red, 5%);
  }
}

.homeLink {
  text-decoration: none;
}
