@import '../../styles/variables.scss';

.confirmationSlider {
  background-color: $red;
  color: $white;
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  transition: all 0.35s ease-in-out;
  width: 100%;
  padding: 10px;
  z-index: 3;

  @media (min-width: $breakpoint-sm) {
    transition: all 0.5s ease-in-out;
    flex-direction: row;
    width: 50%;
  }

  &.left {
    right: 100%;

    &.isActive {
      left: 0;
    }
  }

  &.right {
    right: -100%;

    &.isActive {
      right: 0;
    }
  }
}

.confirmationActionButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}
